{% extends 'base.html.twig' %}

{% block title %}CVOnline - Accueil
{% endblock %}

{% block body %}
	<div class="cadreProject m-5 p-5">
		<div class="w-75">
			<h1>Bienvenue</h1>
			<p>Bonjour et bienvenue sur mon site CVOnline, je l'ai entièrement créé dans le but de me présenter auprès des recruteurs.
			</p>
			<p>Grace à lui, vous allez pouvoir :</p>
			<ul>
				<li>Télécharger mon CV au format PDF</li>
				<li>Consulter les divers projets auquels j'ai participé</li>
				<li>Me contacter</li>

			</ul>

			<h2>Qui suis-je :</h2>
			<p>Je me présente, Keller Pascal, fort d'un parcours de 12 ans en tant que dessinateur-projeteur CAO électrique dans le domaine des machines spéciales
			, mon envie de création et ma passion, liée au code informatique, m'ont poussé à passer le capes de la reconversion professionnelle.</p>
			<p>
			Aujourd'hui
			, je suis devnue un développeur full-stack web plein de ressources grace à la formation diplômante que j'ai passé chez STUDI DIGITAL EDUCTION.
			</p>
		</div>
	</div>
{% endblock %}
