{% extends 'base.html.twig' %}

{% block title %}CVOnline - Accueil
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center m-5">
		<div class="w-75">
			<h1>Bienvenus</h1>
			<p>Bonjour et bienvenus sur mon site CVOnline, je l'ai entièrement créer dans le but de me présenter auprès des recruteurs
			</p>
			<p>Grace à lui, vous allez pouvoir :</p>
			<ul>
				<li>Télécharger mon CV au format PDF</li>
				<li>Consulter les divers projets auquel j'ai participé</li>
				<li>Me contacter</li>

			</ul>

			<h2>Qui suis-je</h2>
			<p>Je me présente, Keller Pascal, fort d'un parcours de 12 ans en tant que dessinateur-projeteur CAO électrique dans le domaine des machines spéciales, mon envie de création et ma passion, liée au code informatique, m'ont poussé à passé le capes de la reconversion professionnelle. Aujourd'hui, je suis un développeur full-stack web plein de ressources avec une option lié à la conception des applications mobiles.
			</p>
		</div>
	</div>
{% endblock %}
