.taillelateral {
    height: 100vh;
}

.roundedaside {
    border-radius: 50px 15px;
}

.cadreProject {
    background-color: white;
    color: black;
    border: 5px solid black;
    border-radius: 15px;
}
