{% extends 'base.html.twig' %}

{% block title %}CVOnline - Tableau de bord
{% endblock %}

{% block body %}
	<div>
		<a href="{{ path('create_project')}}" class="btn btn-success">Ajouter un projet</a>


	</div>
{% endblock %}
